body {
  font-size: $fs;
  color: clrFont(dark, main);
}

a {
  //color: $clrMainDark;
  color: clrFill('accent');
}

// Заголовки стилизованы в normalize.css. На будущее пригодиться.
h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}
