//// Комментарии должны быть НАД переменной. Тогда IDE удобно подсказывает.

//// Цвета

// TODO: потом перенести все цветовые миксины в миксины


$clrFont:       hsl(0, 0%, 0%);
$clrFontGray:   hsl(0, 0%, 58%);
$clrFontLight:  hsl(212, 36%, 88%);

// colorType: main, success, error
@function getHue($colorType: main) {

  // если main или другой
  $hue: 212;

  @if $colorType == success {
    $hue: 113
  } @else if $colorType == error {
    $hue: 5
  }
  @return $hue;
}

// Ярко выраженный цвет. Например кнопка или шапка.
// $nuance: small, big, accent
@function clrFill($nuance: small, $color: main){
  $hue: getHue($color);

  // small или другой
  $saturation: 42%;
  $lightness: 52%;

  @if $nuance == accent {
    $saturation: 52%;
    $lightness: 34%;
  } @else if $nuance == big {
    $saturation: 39%;
    $lightness: 47%;
  }

  $clr: hsl($hue, $saturation, $lightness);
  @return $clr;
}


// Цвет бордюра
// $nuance: lightest, lighter
// lightest - на фоне белого
// lighter - на стыке белого с серым
@function clrBorder($nuance: lightest, $color: main){
  $hue: getHue($color);

  // lightest или другой
  $saturation: 9%;
  $lightness: 94%;

  @if $nuance == lighter {
    $saturation: 10%;
    $lightness: 90%;
  }
  @return hsl($hue, $saturation, $lightness);
}

// Светлый задний фон
// big - например фон всей страницы
// small - например для шапки в таблице
// accent - Чтобы выделялось на фоне любого серого. Например для скроллбара, или подчеркивания в меню.
// highlight - для blink-эффекта
@function clrBg($nuance: big, $color: main){
  $hue: getHue($color);

  // big или другой
  $saturation: 9%;
  $lightness: 94%;

  @if $nuance == small {
    $saturation: 25%;
    $lightness: 98%;
  } @else if $nuance == accent {
    $saturation: 19%;
    $lightness: 83%;
  } @else if $nuance == highlight {
    $saturation: 81%;
    $lightness: 90%;
  }
  @return hsl($hue, $saturation, $lightness);
}

//// размеры Шрифтов

$fs: 16px;
$fsSmall: 12px;

//// Брекпоинты

$bpSm:  480px;
$bpSm2: 768px;
$bpMd:  960px;
$bpLg:  1280px;
$bpXl:  1600px;

//// Время анимаций

$timeShort: 200ms;
$timeMedium: 1000ms;

//// Типовые размеры для типовой верстки

$gap: 16px;
$borderRadius: 4px;
// совпадает с размером из FireFox
$scrollbarWidth: 6px;
$headerHeight: $gap * 3;
